@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-controller="Animale" asp-action="Index">Pagina Animali</a></li>
        <li><a asp-controller="" asp-action="Index">Pagina </a></li>
        <li><a asp-controller="" asp-action="Index">Pagina </a></li>
        <li><a asp-controller="" asp-action="Index">Pagina </a></li>

    </ul>
</div>
